footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px 77px 100px;

  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
  }
}


